* {
  box-sizing: border-box;
}

:root {
  --primary-gray: #787490;
  --secondary-gray: #f5f4f6;
  --tertiary-gray: #d6d4e2;
  --white: #ffffff;
  --black: #18161f;
}

html,
body,
.container {
  height: 100%;
}

.container {
  background-color: var(--secondary-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title,
.current-date,
.card-title,
.profile-name,
.shipping-time,
.comment-quantity,
.view-quantity {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

.page-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-gray);
  margin-bottom: 8px;
}

.current-date {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: var(--black);
  margin-bottom: 48px;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card {
  background-color: var(--white);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: 432px;
  border: 2px solid var(--tertiary-gray);
}

.card-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
}

.card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}

.profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 28px;
}

.profile-image {
  margin-right: 16px;
}

.profile-name,
.dot-icon,
.shipping-time {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.profile-name {
  color: var(--black);
}

.dot-icon {
  margin: 0 6px;
}

.dot-icon,
.shipping-time {
  color: var(--primary-gray);
}

.comments-views-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comments-container,
.views-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 32px;
}

.comment-quantity,
.view-quantity {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-gray);
}
