* {
  box-sizing: border-box;
}

:root {
  --primary-gray: #787490;
  --secondary-gray: #d6d4e2;
  --white: #ffffff;
  --black: #18161f;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-gray);
}

.card {
  width: 208px;
  height: 244px;
  border-radius: 32px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
  transition: 0.8s;
}

.card:hover {
  background-color: var(--black);
  cursor: pointer;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-bottom: 16px;
}

.pix-icon {
  margin-bottom: 12px;
  width: 48px;
  height: 48px;
  stroke: var(--black);
}

.card:hover .pix-icon {
  stroke: var(--white);
}

.text,
.transfer-price {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

.text {
  color: var(--primary-gray);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.card:hover .text {
  color: var(--secondary-gray);
}

.transfer-price {
  color: var(--black);
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.card:hover .transfer-price {
  color: var(--white);
}
